{% extends 'base.html' %}

{% block conteudo %}
    <!--Section: Contact v.2-->
<section class="mb-4">
    
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contato</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Você tem alguma pergunta? Por favor, não hesite em nos contatar diretamente. Nossa equipe retornará a você dentro de
        questão de horas para ajudá-lo.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-12">
            <form id="contact-form" name="contact-form" action="" method="POST">
                {{ form.csrf_token }}
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0 mt-3">
                            <label class="form-check-label" for="exampleCheck1">Nome</label>
                            {{ form.nome(class="form-control",  placeholder="Digite seu nome")}}

                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0 mt-3">
                            <label>Seu e-mail</label>
                            {{ form.email(class="form-control",  placeholder="Digite seu e-mail")}}

                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 mt-3">
                            <label>Assunto</label>
                            {{ form.assunto(class="form-control",  placeholder="Digite o assunto da mensagem")}}
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mt-3">

                        <div class="md-form">
                            <label>Sua mensagem</label>
                            {{ form.mensagem(class="form-control",  rows="3", placeholder="Digite sua mensagem")}}

                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center mt-3 text-md-left">
                    <p>{{ form.submit(class="btn btn-primary") }}</p>
                    
                </div>
            </form>

            
            <div class="status">
            </div>
        </div>
        <!--Grid column-->
    </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}