{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3 class="progress-title">FLASK</h3>
            <div class="progress flask">
                <div class="progress-bar" style="width:65%;">
                    <div class="progress-value">65%</div>
                </div>
            </div>
            <h3 class="progress-title">CSS</h3>
            <div class="progress bootstrap">
                <div class="progress-bar" style="width:56%;">
                    <div class="progress-value">56%</div>
                </div>
            </div>
 
            <h3 class="progress-title">BOOTSTRAP</h3>
            <div class="progress html">
                <div class="progress-bar" style="width:87%;">
                    <div class="progress-value">87%</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

