
{% extends 'base.html' %}

{% block conteudo %}
<div class="d-flex justify-content-center">
<form class="form-signin col-7" name="contact-form" action="" method="POST, GET">
        {{ forms_login.csrf_token }}
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-person-circle mb-4" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <h1 class="h3 mb-3 mt-2 font-weight-normal">Login de usuário</h1>
        <p class="col-12">
        Ao efetuar o login, você terá acesso a plataforma onde será disponibilizado cursos de diversas áreas e que são disponibilizados de forma gratuita.
        </p>
      <label for="inputEmail" class="sr-only mb-1">Endereço de e-mail</label>
      {{ forms_login.email(class="form-control",  placeholder="Digite seu e-mail")}}
      <label for="inputPassword" class="sr-only ">Senha</label>
      {{ forms_login.senha(class="form-control")}} 
           
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar senha
        </label>
      </div>
      <p>{{ forms_login.submit(class="btn btn-primary") }}</p>

      
</form>
</div>
{% endblock %}
